<% layout('/layouts/boilerplate.ejs')%>
<div class="row mt-3">
    <div class="col-8 offset-3 mb-3">
        <h3><%=listing.title%></h3>
    </div>
    <div class="card col-6 offset-3 show-card">
        <img src="<%=listing.image%>" class="card-img-top show-img mb-2" alt="listing-image">
        <div class="card-body mt-2">
            <p class="card-text">
                <%=listing.description%><br>
                <%if (listing.price !== null) {%>
                    &#8377;<%=listing.price.toLocaleString("en-IN")%>/night<br>
                <%} else {
                    console.log("Value is not available.");
                }%>
                <%=listing.location%>
                <%=listing.country%>
            </p>
        </div>
    </div>
    <br>
    <div class="btns  ">
        <a href="<%=listing._id%>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
        <form method="post" action="/listings/<%=listing._id%>?_method=delete">
            <button class="btn btn-dark offset-5">Delete</button>
        </form>
    </div>
    <br>
    <div class="col-6 offset-3 mb-3">
        <hr>
        <h4>Leave A Review</h4>
         <form method="post" action="/listings/<%=listing._id%>/reviews" class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label" >Rating</label>
                <input name="review[rating]"   class="form-range" type="range" min="1" max="5"/>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea required name="review[comment]"  class="form-control" id="comment" cols="30" rows="5" type="text" placeholder="leave your comment here"></textarea>
                <div class="valid-feedback">
                    thanks for the review!
                </div>
                <div class="invalid-feedback">
                    Please choose a valid review!
                </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
         </form>
    </div>
</div>